@font-face {
  font-family: "segoe";
  src: url("https://cdn.muverse.info/fonts/segoe.ttf");
}

@font-face {
  font-family: "segoe-sb";
  src: url("../font/seguisb.ttf");
}

@font-face {
  font-family: "SegoeUI-Semibold";
  src: url("https://cdn.muverse.info/fonts/segoe-sB.ttf");
}

@font-face {
  font-family: "segoe-mb";
  src: url("https://cdn.muverse.info/fonts/segoe-mB.ttf");
}

@font-face {
  font-family: "SegoeUIBlack";
  src: url("https://cdn.muverse.info/fonts/segoe-lB.ttf");
}

@font-face {
  font-family: "segoe-lb";
  src: url("../font/segoeuib.ttf");
}

@font-face {
  font-family: "ali-h";
  src: url("../font/fzltthjwgb10_downy.ttf");
}
@font-face {
  font-family: "dfpy-g";
  src: url("../font/DFPYuanW9.ttf");
}



.font-segoe-sb {
  font-weight: 600;
}

.font-segoe-mb {
  font-weight: 700;
}

.font-segoe-lb {
  font-weight: 800;
}

/* 字体大小 */

@media (min-width: 0px) {
  html {
    font-size: 8px !important;
  }
}

@media (min-width: 310px) {
  html {
    font-size: 10px !important;
  }
}

@media (min-width: 800px) {
  html {
    font-size: 12px !important;
  }
}

@media (min-width: 1050px) {
  html {
    font-size: 14px !important;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 15px !important;
  }
}

@media (min-width: 1750px) {
  html {
    font-size: 16px !important;
  }
}

.text-shadow {
  text-shadow: 0px 2px 11px rgba(0, 0, 0, 0.2);
}

.text-shadow-l {
  text-shadow: 0px 2px 11px rgba(0, 0, 0, 0.8);
}
